<div class="bg-gray-900 py-16 ">
<div class="flex justify-center items-center min-h-screen">
  <div class="container p-5 sm:p-0">
    <div class="flex justify-center w-full">
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-7">
        <ng-container *ngFor="let cards of classes">
          <div class="p-8 max-w-sm border border-neutral-500 rounded-2xl hover:shadow-xl hover:shadow-color3 flex flex-col items-center">
            <img [src]="cards.img" alt="article image" class="shadow rounded-2xl overflow-hidden border object-cover" *ngIf="cards.img">
            <div class="mt-8">
              <h3 class="font-bold text-lg sm:text-xl text-white">{{ cards.day }} {{ cards.schedule }}</h3>
              <span class="text-gray-400">{{ cards.address }}</span>
              <p class="mt-2 text-gray-100 text-base sm:text-lg">{{ cards.info }}</p>
              <div class="mt-5 flex justify-center items-center">
                <button type="button" class="inline-flex items-center rounded-xl border border-transparent bg-amber-500 px-3 py-2 text-sm font-semibold leading-4  shadow-sm hover:bg-amber-600">
                  {{ cards.more }}
                </button>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
</div>

