<div class="bg-gray-300">
    <div class="container mx-auto px-4 py-8">
        <div class="flex flex-wrap mx-4">
            <div class="w-full sm:w-auto lg:w-2/3 sm:px-4 mb-8 lg:mb-0">
                <img class="w-full rounded-lg shadow-lg" src="../../assets/img03.jpeg" alt="Imagen del concierto">
            </div>
            
            <div class="w-full lg:w-1/3 px-4">
                <h1 class="font-bold">Clases de Baile de Salón y Latinas</h1>

                    <p class="mb-6 text-lg italic"> Para principantes, intermedios y avanzados</p>

                
                <div class="mb-6">
                    <p class="font-bold mb-2 text-lg">Horario:</p>
                    <ng-container *ngFor="let clase of clases">
                        <p class="text-lg">{{clase.dia}}, {{clase.horario}}</p>
                    </ng-container>
                </div>
                
                <div class="mb-6">
                    <p class="font-bold mb-2 text-lg">Lugar:</p>
                    <ng-container *ngFor="let clase of clases">
                        <p class="text-lg">{{clase.dire}}</p>
                    </ng-container>
                </div>
                
                <div class="mb-6">
                    <p class="font-bold mb-2 text-lg">Ver o participar, sin compromiso:</p>
                    <p class="text-lg">Primera Clase - ¡Completamente gratis!</p>
                </div>
                
                <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">¡Quiero ir!</button>
            </div>
        </div>
    </div>
</div>
