
<section class="bg-gray-50 py-16 pt-32">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="max-w-4xl mx-auto text-center">
            <h2 class="text-3xl font-extrabold text-gray-900 sm:text-4xl">
                MIEMBROS
            </h2>
            <p class="mt-3 text-xl text-gray-500 sm:mt-4">
                Organic, genuine conversations with higher response rates than
                LinkedIn or cold email.
            </p>
        </div>
    </div>
    <div class="mt-10 pb-1">
        <div class="relative">
            <div class="absolute inset-0 h-1/2 bg-gray-50"></div>
            <div class="relative max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                <div class="max-w-5xl mx-auto grid grid-cols-1 md:grid-cols-2 gap-8 ">
                    <div class="p-6 text-center sm:border-0 sm:border-l sm:border-r border-t border-b border-gray-100 rounded-lg bg-white shadow-lg">
                        <dd class="order-1 text-xl font-extrabold text-gray-700">JUAN</dd>
                        <dt class="order-2 mt-2 text-lg leading-6 font-medium text-gray-500">
                            Nullam ac augue eget diam posuere vehicula. Vivamus quis nulla ac justo euismod posuere.
                        </dt>
                        
                    </div>
                    <div class="p-6 text-center sm:border-0 sm:border-l sm:border-r border-t border-b border-gray-100 rounded-lg bg-white shadow-lg">
                        <dd class="order-1 text-xl font-extrabold text-gray-700">GUIDO</dd>
                        <dt class="order-2 mt-2 text-lg leading-6 font-medium text-gray-500">
                            Nullam ac augue eget diam posuere vehicula. Vivamus quis nulla ac justo euismod posuere.
                        </dt>
                        
                    </div>
                    <div class="p-6 text-center sm:border-0 sm:border-l sm:border-r border-t border-b border-gray-100 rounded-lg bg-white shadow-lg">
                        <dd class="order-1 text-xl font-extrabold text-gray-700">CAMI</dd>
                        <dt class="order-2 mt-2 text-lg leading-6 font-medium text-gray-500">
                            Nullam ac augue eget diam posuere vehicula. Vivamus quis nulla ac justo euismod posuere.
                        </dt>
                        
                    </div>
                    <div class="p-6 text-center sm:border-0 sm:border-l sm:border-r border-t border-b border-gray-100 rounded-lg bg-white shadow-lg">
                        <dd class="order-1 text-xl font-extrabold text-gray-700">CECI</dd>
                        <dt class="order-2 mt-2 text-lg leading-6 font-medium text-gray-500">
                            Nullam ac augue eget diam posuere vehicula. Vivamus quis nulla ac justo euismod posuere.
                        </dt>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
