  <!-- footer -->
  <section class="body-font relative text-neutral-400 bg-gray-900 py-2">
    <div class="container mx-auto px-5 bottom-0">
      <div class="flex w-full flex-col text-center">
  <div class="mt-8 w-full border-t border-neutral-800 p-2 pt-4 text-center">
    <ul>
    <li class="text-neutral-300">{{ 'FOOTER.title' | translate }} </li>

    <li class="inline-flex">
      {{ 'FOOTER.info1' | translate }} | {{ 'FOOTER.info2' | translate }} | {{ 'FOOTER.info3' | translate }} | {{ 'FOOTER.info4' | translate }}
    </li>
  </ul>
  </div>
</div>
</div>
</section>