<footer class="footer bg-gray-900 text-neutral-400 py-2">
  <div class="container mx-auto px-5">
    <div class="flex flex-col items-center">
      <div class="mt-8 border-t border-neutral-800 p-2 pt-4 text-center">
        <ul class="list-none p-0">
          <li class="footer__title">{{ 'FOOTER.title' | translate }}</li>
          <li class="footer__info  mt-2">
            {{ 'FOOTER.info1' | translate }} &nbsp;<a routerLink="/footerpage" class="footer__link text-amber-500">{{ 'FOOTER.info3' | translate }}</a> &nbsp;| {{ 'FOOTER.info4' | translate }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

