<div class="flex justify-center items-center py-[10vh]">
  <div class="gap-2 grid grid-cols-1 mini:grid-cols-2 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5">
    <div class="container p-5 mini:p-0" *ngFor="let producto of products">
      <div class="p-8 max-w-lg rounded-2xl hover:shadow-2xl hover:shadow-grey flex flex-col items-center">
        <div class="relative flex flex-col justify-end min-w-[75vw] min-h-[30vh] mini:min-w-[45vw] mini:min-h-[15vh] sm:min-w-[32vw] sm:min-h-[15vh] md:min-w-[25vw] md:min-h-[21vh] lg:min-w-[25vw] lg:min-h-[23vh] xl:min-w-[18vw] xl:min-h-[17vh] 2xl:min-w-[14vw] 2xl:min-h-[23vh]">
          <img [src]="producto.img" alt="article image" class="rounded-lg overflow-hidden object-contain absolute inset-x-0 bottom-0 w-full h-full">
        </div>
        <div class="mt-8 text-neutral-800">
          <h4 class="font-bold text-sm md:text-base">{{ producto.title }}</h4>
          <p class="mt-2 text-neutral-500 text-xs md:text-sm">{{ producto.info }}</p>
          <div class="mt-5 flex justify-between w-full">
            <a [href]="producto.link" target="_blank" class="mr-2">
              <button type="button" class="inline-flex items-center rounded-md border border-transparent bg-neutral-800 px-3 py-2 text-sm font-medium leading-4 text-white shadow-sm hover:bg-neutral-900">
                Amazon
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

