<section class="bg-[#1D1D1D] text-gray-100 py-32 min-h-64">
  <div class="container flex flex-col justify-center p-4 mx-auto md:p-8">
    <h2 class="mb-12 font-bold leadi text-center">Preguntas frecuentes</h2>
    <div class="flex flex-col divide-y sm:px-8 lg:px-12 xl:px-32 divide-gray-700">
      <ng-container *ngFor="let article of articles">
        <details>
          <summary class="py-2 outline-none cursor-pointer focus:underline">{{ article.articleHeading }}</summary>
          <div class="px-4 pb-4">
            <p>{{ article.articleIntro }}</p>
            <p *ngIf="article.showMore">{{ article.articleMoreText }}</p>
         
          </div>
        </details>
      </ng-container>
    </div>
  </div>
</section>

  
