
<app-banner-primary [articleId]="7"></app-banner-primary>
        <app-titles [articleId]="1"></app-titles>
        <app-productcard [productos]="womenShoes"></app-productcard>

        <app-titles [articleId]="2"></app-titles>
        <app-productcard [productos]="womenDresses"></app-productcard>

        <app-titles [articleId]="3"></app-titles>
        <app-productcard [productos]="menShoes"></app-productcard>

        <app-titles [articleId]="4"></app-titles>
        <app-productcard [productos]="menOutfits"></app-productcard>






