<div class="bg-white">
 
  <div class="xl:w-4/5 mx-auto pt-12">
    <app-text [articleId]="23" class="text-gray-800"></app-text>
    <app-text [articleId]="24" class="text-gray-800 text-center"></app-text>
    <app-products></app-products>
    <app-text [articleId]="25" class="text-gray-800 text-center"></app-text>
    <app-womanvest></app-womanvest>
    <app-text [articleId]="26" class="text-gray-800 text-center"></app-text>
    <app-menshoes></app-menshoes>
    <app-text [articleId]="27" class="text-gray-800 text-center"></app-text>
    <app-menvest></app-menvest>
  </div>
  </div>




  