





<div class="bg-gray-50 max-w-screen-2xl mx-auto">
        <app-banner-apparel></app-banner-apparel>
        <app-titles></app-titles>
        <app-productcard [productos]="womenShoes"></app-productcard>

        <app-titles></app-titles>
        <app-productcard [productos]="womenDresses"></app-productcard>

        <app-titles></app-titles>
        <app-productcard [productos]="menShoes"></app-productcard>

        <app-titles></app-titles>
        <app-productcard [productos]="menOutfits"></app-productcard>
</div>





