<div class="relative overflow-hidden w-full h-96 text-center text-white text-2xl md:text-3xl">
  <video #video autoplay muted loop class="absolute top-0 left-0 w-full h-full object-cover">
      <source src="./../../../../assets/Video.mp4" type="video/mp4">
  </video>
  <div class="absolute top-0 left-0 w-full h-full bg-black bg-opacity-10 flex flex-col justify-center items-center py-28 px-1 md:px-8">
      <h2 class="font-bold text-xl lg:text-4xl">{{ 'BANNER.title' | translate }}</h2>
      <p class="mt-2 sm:mt-6 max-w-xl text-sm md:text-xl leading-8 text-slate-300 mx-auto">
        {{ 'BANNER.subtitle' | translate }} 
      </p>
      <a class="mt-2 sm:mt-8 rounded-md bg-slate-200 px-5 py-2.5 text-base leading-7 text-slate-900 bg-opacity-80 hover:bg-gray-200 transition focus:outline-none focus:ring focus:border-blue-300 font-bold "
      href="#">{{ 'BANNER.button' | translate }}</a>
  </div>
</div>