<section class="bg-black overflow-visible my-0 py-24">
    <div class="text-white items-center text-center flex flex-col">
      <h2 class="font-bold text-2xl lg:text-4xl">{{ 'BANNER.title' | translate }}</h2>
      <p class="mx-auto mt-6 max-w-xl text-lg md:text-xl leading-8 text-slate-400">
        {{ 'BANNER.subtitle' | translate }} 
      </p>
      <a class="mt-8 rounded-md bg-white px-5 py-2.5 text-base  leading-7 text-black hover:bg-gray-200 transition focus:outline-none focus:ring focus:border-blue-300"
        href="#">{{ 'BANNER.button' | translate }}</a>
    </div>
  </section>