

<div class="flex flex-col sm:px-8 lg:px-12 xl:px-32 divide-y divide-neutral-400 xl:w-3/5 mx-auto py-8">
    <div class="flex justify-center">
      <h2 class="py-2 px-4 max-w-md flex justify-center items-center text-slate-700 w-full text-center text-base sm:text-2xl md:whitespace-nowrap italic">
        Da tus mejores pasos con nuestros zapatos de baile para mujer  👠
      </h2>
    </div>
  </div>
  

  <!--<div class="flex justify-center">
    <a type="button" class="py-2 px-4 max-w-md flex justify-center items-center bg-slate-700 hover:bg-slate-800 focus:ring-slate-700 focus:ring-offset-slate-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-lg">
        Titulo dinamico con emojis ✔✔✔     👗  🥻   👠    👞   👔
    </a>


    Zapatos de mujer para baile:

    "Da tus mejores pasos con nuestros zapatos de baile para mujer 💃✨"
    "Elegancia y comodidad en cada paso. ¡Descubre nuestros zapatos de baile para mujer! 👠🎶"

Vestidos de mujer para baile:

    "Brilla en la pista con nuestros vestidos de baile para mujer 🌟💃"
    "Diseñados para moverte con gracia y estilo. ¡Explora nuestros vestidos de baile para mujer! 👗✨"

Zapatos de hombre para baile:

    "Impresiona en la pista con nuestros zapatos de baile para hombre 🕺👞"
    "Estilo y confort en cada movimiento. ¡Conoce nuestros zapatos de baile para hombre! 🎶👟"

Vestimenta masculina para baile:

    "Elegancia y dinamismo en cada baile. ¡Descubre nuestra vestimenta masculina para baile! 🕺🎩"
    "Vístete para triunfar en la pista. Explora nuestra colección de vestimenta masculina para baile 👔✨"


  </div>-->