<div class="flex justify-center items-center">
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
  <ng-container *ngFor="let producto of productos">
    <div class="container p-5 sm:p-0">
      <div class="p-8 max-w-lg border border-color5 rounded-2xl hover:shadow-xl hover:shadow-color3 flex flex-col items-center">
        <img [src]="producto?.imageUrl" alt="article image" class="shadow rounded-lg overflow-hidden border" *ngIf="producto?.imageUrl">
        <div class="mt-8 text-white">
          <h4 class="font-bold text-xl">{{ producto.articleHeading }}</h4>
          <p class="mt-2 text-gray-500 text-lg">{{ producto.articleIntro }}</p>
          <div class="mt-5">
            <a [href]="producto.articleLink" target="_blank">
              <button type="button" class="inline-flex items-center rounded-md border border-transparent bg-gray-800 px-3 py-2 text-sm font-medium leading-4 text-white shadow-sm hover:bg-gray-900">
                Descripción completa
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
</div>









