
<app-banner-home></app-banner-home>
<app-stats></app-stats>


<div class="bg-gray-50 text-gray-800 sm:px-8 lg:px-12 xl:px-32 divide-y divide-neutral-200">
<app-text [articleId]="1"></app-text>
<div class="flex flex-col  sm:px-8 lg:px-12 xl:px-32 divide-y divide-neutral-200  xl:w-3/5 mx-auto"></div>
<app-banner-about></app-banner-about>
</div>

<div class="sm:px-8 lg:px-12 xl:px-32 divide-y divide-amber-600">
    <app-gallery></app-gallery>
    <div class="flex flex-col  sm:px-8 lg:px-12 xl:px-32 divide-y amber-600  xl:w-3/5 mx-auto"></div>
    <app-banner-promotions></app-banner-promotions>
    </div>



<app-banner-staff></app-banner-staff>


<div class="sm:px-8 lg:px-12 xl:px-32 divide-y divide-amber-600">
    <app-questions></app-questions>
    <div class="flex flex-col  sm:px-8 lg:px-12 xl:px-32 divide-y amber-600  xl:w-3/5 mx-auto"></div>
    <app-form></app-form>
    </div>

    <!--<app-cookie></app-cookie>-->