<section class="stats bg-gray-900 text-gray-50">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="max-w-4xl mx-auto text-center">
            <h2 class="stats__title text-lg md:text-3xl font-bold md:font-extrabold sm:text-4xl pt-8 md:pt-12">
                {{ 'STATS.title' | translate }}
            </h2>
            <p class="stats__subtitle mt-2 text-sm md:text-xl sm:mt-4 opacity-60 italic">
                {{ 'STATS.subtitle' | translate }}
            </p>
        </div>
    </div>
    <div class="pt-4 pb-0 md:pt-10 md:pb-1">
        <div class="relative">
            <div class="absolute inset-0 h-1/2"></div>
            <div class="max-w-7xl mx-auto">
                <div class="lg:max-w-4xl mx-auto stats__grid grid grid-cols-3 rounded-lg bg-gray-800 shadow-lg mb-12">
                    <div class="stats__item flex flex-col p-3 text-center sm:border-0 sm:border-l sm:border-r border-t border-b border-amber-500">
                        <dt class="order-2 mt-2 text-sm md:text-lg leading-6 font-medium">
                            {{ 'STATS.button1' | translate }}
                        </dt>
                        <dd class="order-1 text-3xl md:text-4xl font-extrabold text-amber-500">
                            {{ 'STATS.number1' | translate }}
                        </dd>
                    </div>
                    <div class="stats__item flex flex-col p-3 text-center sm:border-0 sm:border-l sm:border-r border-t border-b border-amber-500">
                        <dt class="order-2 mt-2 text-sm md:text-lg leading-6 font-medium">
                            {{ 'STATS.button2' | translate }}
                        </dt>
                        <dd class="order-1 text-3xl md:text-4xl font-extrabold text-amber-500">
                            {{ 'STATS.number2' | translate }}
                        </dd>
                    </div>
                    <div class="stats__item flex flex-col p-3 text-center sm:border-0 sm:border-l sm:border-r border-t border-b border-amber-500">
                        <dt class="order-2 mt-2 text-sm md:text-lg leading-6 font-medium">
                            {{ 'STATS.button3' | translate }}
                        </dt>
                        <dd class="order-1 text-3xl md:text-4xl font-extrabold text-amber-500">
                            {{ 'STATS.number3' | translate }}
                        </dd>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

