<app-mision></app-mision>

<section class="bg-gray-200  text-gray-800 py-16">
    <div class="container mx-auto py-8 px-5 sm:px-12 max-w-6xl">
        <div class="grid grid-cols-1 md:grid-cols-2 items-center gap-8">
            <div class="max-w-2xl">
                <h3 class="py-4 text-center text-xl sm:text-3xl font-semibold" >Title</h3>
                <p class="mt-4 leading-relaxed text-base sm:text-lg" >Lorem ipsum dolor, sit amet consectetur adipisicing elit. At molestiae labore ab delectus ex, nisi, tenetur sit fugit eligendi, esse accusantium eaque nam molestias porro distinctio saepe nesciunt quaerat! Quasi? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa corrupti aspernatur reprehenderit. Vitae a vero repudiandae nobis quam. Consequuntur voluptas cupiditate ipsa molestias reiciendis, blanditiis deserunt ea temporibus alias delectus?</p>
                <div class="mt-4">
                    <a href="#" class="leading-relaxed text-amber-600 focus:outline-none font-semibold hover:text-white" >
                    </a>
                </div>
            </div>
            <div class="mt-2 md:mt-0">
                <img src="../../assets/img01.jpeg" alt="About Us Image" class="object-cover rounded-lg shadow-md">
            </div>
        </div>
    </div>




    <div class="container mx-auto py-8 px-5 sm:px-12 max-w-6xl">
        <div class="grid grid-cols-1 md:grid-cols-2 items-center gap-8">
          
            <div class="mt-2 md:mt-0">
                <img src="../../assets/img01.jpeg" alt="About Us Image" class="object-cover rounded-lg shadow-md">
            </div>
            <div class="max-w-2xl">
                <h3 class="py-4 text-center text-xl sm:text-3xl font-semibold" >Title</h3>
                <p class="mt-4 leading-relaxed text-base sm:text-lg" >Lorem ipsum dolor, sit amet consectetur adipisicing elit. At molestiae labore ab delectus ex, nisi, tenetur sit fugit eligendi, esse accusantium eaque nam molestias porro distinctio saepe nesciunt quaerat! Quasi? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa corrupti aspernatur reprehenderit. Vitae a vero repudiandae nobis quam. Consequuntur voluptas cupiditate ipsa molestias reiciendis, blanditiis deserunt ea temporibus alias delectus?</p>
                <div class="mt-4">
                    <a href="#" class="leading-relaxed text-amber-600 focus:outline-none font-semibold hover:text-white" >
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<app-banner-mision></app-banner-mision>

<div>

  

    
 <!--

    <section class="bg-neutral-800 text-white text-center py-12 px-4 mx-auto">
        <h2 class="text-2xl font-bold"> Dinamic title</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8 mt-8 max-w-5xl mx-auto">
            <div class="p-4 shadow-lg rounded-lg bg-neutral-700 hover:bg-neutral-600 transition-colors">
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sit amet tristique mi."</p>
                <h3 class="mt-4 font-bold">- Paciente A</h3>
            </div>
            <div class="p-4 shadow-lg rounded-lg bg-neutral-700 hover:bg-neutral-600 transition-colors">
                <p>"Nullam ac augue eget diam posuere vehicula. Vivamus quis nulla ac justo euismod posuere."</p>
                <h3 class="mt-4 font-bold">- Paciente B</h3>
            </div>
            <div class="p-4 shadow-lg rounded-lg bg-neutral-700 hover:bg-neutral-600 transition-colors">
                <p>"Fusce tincidunt, arcu nec vestibulum tincidunt, eros massa ullamcorper urna."</p>
                <h3 class="mt-4 font-bold">- Paciente C</h3>
            </div>
        </div>
    </section>
-->


    <app-banner-staff></app-banner-staff>
 
    <!--<app-staff></app-staff>-->
 

</div>


