<app-banner-about></app-banner-about>


<div>

    <section class="text-center py-12 px-4 mx-auto">
        <h2 class="text-2xl font-bold">Misión y Valores</h2>
        <p class="mt-4 text-neutral-300 max-w-2xl mx-auto">
            Nuestra misión es proporcionar un servicio excepcionale con un enfoque en disponibilidad, confiabilidad y apoyo.
        </p>
        <div class="flex justify-center space-x-8 mt-8 animate-fadeIn">
            <div class="transition transform hover:scale-110">
                <h3 class="text-xl font-bold text-amber-500">+55 mil</h3>
                <p class="text-neutral-300">Seguidores</p>
            </div>
            <div class="transition transform hover:scale-110 ">
                <h3 class="text-xl font-bold text-amber-500">+10</h3>
                <p class="text-neutral-300">Años de Experiencia</p>
            </div>
        </div>
    </section>

    <section class="bg-neutral-800 text-white py-12 px-4 mx-auto">
        <h2 class="text-2xl font-bold text-center">Nuestra Visión</h2>
        <p class="mt-4 text-center max-w-2xl mx-auto">
            Bailar en cualquier momento, en cualquier lugar. Nuestro objetivo es revolucionar esta industria haciendo que sea accesible para todos.
        </p>
    </section>

    <section class="text-center py-12 px-4 xl:w-3/5 mx-auto">
        <h2 class="text-2xl font-bold">Nuestras Especialistas</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-8 mt-8">
            <button class="p-4 shadow-lg rounded-lg  transition-colors hover:text-neutral-200 text-gray-800 bg-amber-500  hover:bg-amber-600">
                <h3 class="text-xl font-semibold">Instructor</h3>
            </button>
            <button class="p-4 shadow-lg rounded-lg  transition-colors hover:text-neutral-200 text-gray-800 bg-amber-500  hover:bg-amber-600">
                <h3 class="text-xl font-semibold">Desarrolador</h3>
            </button>
            <button class="p-4 shadow-lg rounded-lg  transition-colors hover:text-neutral-200 text-gray-800 bg-amber-500  hover:bg-amber-600">
                <h3 class="text-xl font-semibold">Instructora</h3>
            </button>
            <button class="p-4 shadow-lg rounded-lg  transition-colors hover:text-neutral-200 text-gray-800 bg-amber-500  hover:bg-amber-600">
                <h3 class="text-xl font-semibold">Community Manager</h3>
            </button>
        </div>
    </section>

    <section class="bg-neutral-800 py-12 px-4  mx-auto">
        <h2 class="text-2xl font-bold text-center"> Dinamic title</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8 mt-8 max-w-5xl mx-auto">
            <div class="p-4 shadow-lg rounded-lg bg-neutral-700 hover:shadow-xl transition-shadow hover:bg-neutral-600">
                <h3 class="text-xl font-bold"> Dinamic title</h3>
                <p class="text-neutral-300 mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sit amet tristique mi.</p>
            </div>
            <div class="p-4 shadow-lg rounded-lg bg-neutral-700 hover:shadow-xl transition-shadow hover:bg-neutral-600">
                <h3 class="text-xl font-bold"> Dinamic title</h3>
                <p class="text-neutral-300 mt-2">Nullam ac augue eget diam posuere vehicula. Vivamus quis nulla ac justo euismod posuere.</p>
            </div>
            <div class="p-4 shadow-lg rounded-lg bg-neutral-700 hover:shadow-xl transition-shadow hover:bg-neutral-600">
                <h3 class="text-xl font-bold"> Dinamic title</h3>
                <p class="text-neutral-300 mt-2">Fusce tincidunt, arcu nec vestibulum tincidunt, eros massa ullamcorper urna.</p>
            </div>
            <div class="p-4 shadow-lg rounded-lg bg-neutral-700 hover:shadow-xl transition-shadow hover:bg-neutral-600">
                <h3 class="text-xl font-bold"> Dinamic title</h3>
                <p class="text-neutral-300 mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sit amet tristique mi.</p>
            </div>
        </div>
    </section>

    <section class="text-center py-12 px-4 xl:w-3/5 mx-auto">
        <h2 class="text-2xl font-bold"> Dinamic title</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-8 mt-8">
            <button class="p-4 shadow-lg rounded-lg  transition-colors hover:text-neutral-200 text-gray-800 bg-amber-500  hover:bg-amber-600">
                <h3 class="text-xl font-semibold"> Dinamic subtitle</h3>
            </button>
            <button class="p-4 shadow-lg rounded-lg  transition-colors hover:text-neutral-200 text-gray-800 bg-amber-500  hover:bg-amber-600">
                <h3 class="text-xl font-semibold"> Dinamic subtitle</h3>
            </button>
            <button class="p-4 shadow-lg rounded-lg  transition-colors hover:text-neutral-200 text-gray-800 bg-amber-500  hover:bg-amber-600">
                <h3 class="text-xl font-semibold"> Dinamic subtitle</h3>
            </button>
            <button class="p-4 shadow-lg rounded-lg  transition-colors hover:text-neutral-200 text-gray-800 bg-amber-500  hover:bg-amber-600">
                <h3 class="text-xl font-semibold"> Dinamic subtitle</h3>
            </button>
        </div>
    </section>

    <section class="bg-neutral-800 text-white text-center py-12 px-4 mx-auto">
        <h2 class="text-2xl font-bold"> Dinamic title</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8 mt-8 max-w-5xl mx-auto">
            <div class="p-4 shadow-lg rounded-lg bg-neutral-700 hover:bg-neutral-600 transition-colors">
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sit amet tristique mi."</p>
                <h3 class="mt-4 font-bold">- Paciente A</h3>
            </div>
            <div class="p-4 shadow-lg rounded-lg bg-neutral-700 hover:bg-neutral-600 transition-colors">
                <p>"Nullam ac augue eget diam posuere vehicula. Vivamus quis nulla ac justo euismod posuere."</p>
                <h3 class="mt-4 font-bold">- Paciente B</h3>
            </div>
            <div class="p-4 shadow-lg rounded-lg bg-neutral-700 hover:bg-neutral-600 transition-colors">
                <p>"Fusce tincidunt, arcu nec vestibulum tincidunt, eros massa ullamcorper urna."</p>
                <h3 class="mt-4 font-bold">- Paciente C</h3>
            </div>
        </div>
    </section>

    <section class="text-center py-12 px-4 w-full xl:w-3/5 mx-auto">
        <h2 class="text-2xl font-bold">Obtén Respuestas a Tus Preguntas Más Frecuentes</h2>
        <div class="mt-8">
            <div class="p-4 border rounded-lg shadow-md transition transform hover:scale-100 scale-90 border-amber-600">
                <h3 class="text-xl font-bold"> Dinamic title</h3>
                <p class="mt-2 text-neutral-300">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sit amet tristique mi.</p>
            </div>
            <div class="p-4 border rounded-lg shadow-md transition transform hover:scale-100 scale-90 mt-4 border-amber-600">
                <h3 class="text-xl font-bold"> Dinamic title</h3>
                <p class="mt-2 text-neutral-300">Nullam ac augue eget diam posuere vehicula. Vivamus quis nulla ac justo euismod posuere.</p>
            </div>
            <div class="p-4 border rounded-lg shadow-md transition transform hover:scale-100 scale-90 mt-4 border-amber-600">
                <h3 class="text-xl font-bold"> Dinamic title</h3>
                <p class="mt-2 text-neutral-300">Fusce tincidunt, arcu nec vestibulum tincidunt, eros massa ullamcorper urna.</p>
            </div>
        </div>
    </section>

</div>

<app-staff></app-staff>
