
      <div class="flex justify-center ">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-4 2xl:grid-cols-5 mx-4">
      
          <div  *ngFor="let producto of womanvests">
            <div class="my-2 p-4 h-[460px] rounded-2xl hover:shadow-xl hover:shadow-grey flex flex-col items-center bg-white mx-2">
              <div class="relative flex flex-col w-full h-[260px] items-center justify-center">
      
                <img [src]="producto.img" alt="article image" class="h-full object-cover">
              </div>
      
                <div class="pb-2">
                  <h4 class="font-bold text-lg text-neutral-950 text-center h-[28px] overflow-hidden">{{ producto.title }}</h4>
                </div>
                <div class="h-[80px] overflow-hidden">
                  <p class="text-neutral-500 text-sm">{{ producto.info }}</p>
                </div>
                <div class="justify-center pt-4">
                  <a [href]="producto.link" target="_blank">
                    <button type="button" class="inline-flex items-center rounded-md border border-transparent bg-gray-700 px-3 py-2 text-sm font-medium leading-4 text-white shadow-sm hover:bg-gray-800">
                      Ver en Amazon
                    </button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>