

<app-class></app-class>

<div class="flex justify-center">
    <div class="grid md:grid-cols-3 gap-4">
      <app-photo [claseId]="201"></app-photo>
      <app-photo [claseId]="202"></app-photo>
      <app-photo [claseId]="203"></app-photo>
    </div>
  </div>

  <div class="flex justify-center">
    <div class="grid md:grid-cols-3 gap-4">
  <app-pricing [claseId]="201"></app-pricing>
  <app-pricing [claseId]="202"></app-pricing>
  <app-pricing [claseId]="2031"></app-pricing>
  </div>
  </div>




