<section class="py-6 sm:py-10 min-h-64  border-b-4 border-amber-600">
  <div class="container flex flex-col justify-center p-5 mx-auto md:p-8 ">
    <h2 class="mb-7 sm:mb-12 text-2xl sm:text-3xl font-bold text-center sm:text-4xl ">Preguntas frecuentes</h2>
    <div class="flex flex-col divide-y sm:px-8 lg:px-12 xl:px-32 divide-neutral-700">
      <ng-container *ngFor="let question of questions">
        <details>
          <summary class=" py-2 outline-none cursor-pointer focus:underline text-base sm:text-lg">{{question.title }}</summary>
          <div class="px-4 pb-4">
            <p class="text-lg text-neutral-400">{{ question.info }}</p>
          </div>
        </details>
      </ng-container>
    </div>
  </div>
</section>
      




  





  
