<section class="text-center py-16 px-4 w-full xl:w-3/5 mx-auto">
    <h2 class="text-2xl font-extrabold mb-8 text-slate-900">{{ 'PROMOTION.0.promotion' | translate }}</h2>
    <div class="mt-8">
        <ng-container *ngFor="let promo of promotions">
            <div class="p-4 border rounded-lg shadow-md transition transform hover:scale-105 border-gray-300 bg-white">
                <h3 class="text-xl font-bold">{{ promo.title | translate }}</h3>
                <p class="mt-2 opacity-80">{{ promo.info | translate }}, {{ promo.save | translate }}</p>
            </div>
        </ng-container>
    </div>
</section>


